<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="container">
      <div class="login-box">
        <div class="logo">
          <img src="/img/ImgControleFinanceiro3.jpeg" alt="Logo do Controle Financeiro">
        </div>
        <div class="title">Controle Financeiro</div>
        <a href="/auth/google" class="google-button">
            <img src="https://accounts.google.com/favicon.ico" alt="Ícone do Google" class="icon">
            Login com o Google
          </a>
          <div class="footer">© 2023 Controle Financeiro. Todos os direitos por <strong>Enzzin</strong>.</div>
      </div>
    </div>
  </body>
</html>
